<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Academic Flow</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>

    <main>
        <section class="hero">
            <div class="top-content">
                <div>
                    <h1>Academic Flow</h1>
                    <h2>Um sistema de estudantes feito para estudantes</h2>
                </div>

                <div class="d-flex flex-row gap-5 align-items-center justify-content-center text-center">
                    <a class="btn-edit text-center text-decoration-none d-flex align-items-center justify-content-center" href="#">Entrar</a>
                    <a class="btn-edit text-center text-decoration-none d-flex align-items-center justify-content-center" href="#">Saber Mais</a>
                </div>
            </div>

            <div class="bottom-note start-0">
                <p>O sistema ainda suporta apenas os cursos da Universidade Federal de São João Del Rei (USFJ)</p>
            </div>
        </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
        integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/main.js' )}}"></script>

</body>

</html>